/* Center the title and subtitle */
.title, .subtitle {
    text-align: center;
  }
  
  /* Style the title */
  .title {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  
  /* Style the subtitle */
  .subtitle {
    font-size: 24px;
    font-weight: normal;
    color: #666;
    margin-bottom: 50px;
  }

  /* .chart-container{
    display: block;
    margin: auto;
    position: relative;
  }


  .pop-up-box {
    position: absolute;
    top: 800px; 
    right: 500px; 
    width: 200px; 
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    padding: 10px;
    z-index: 9999;
    word-wrap: break-word; 
} */


.chart-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pop-up-box {
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  z-index: 9999;
}







  

